<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title mb-4">Mapa climatico del Perú</h1>
            <iframe 
              id="inlineFrameExample"
              title="Inline Frame Example"
              width="100%"
              height="900"
              src="https://www.senamhi.gob.pe/mapas/mapa-climatico-v2/">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>